<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Electron
    link(rel="stylesheet", href="assets/css/main.css")
  body
    h1 hi!

    //- only include this script tag in dev environment
    script(src="http://localhost:35729/livereload.js")